.usa-nav-custom-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: flex-end;
  justify-content: space-between;
  display: flex;
}

.usa-nav-custom-container::after {
  clear: both !important;
  content: "" !important;
  display: block !important;
}

.usa-header--basic .usa-nav-custom {
  box-sizing: inherit;
  line-height: .9;
  float: right;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  padding: 0 0 .25rem .5rem;
  width: 100%;
}

.usa-nav-custom__primary {
  display: flex;
  clear: both;
  width: auto;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: .9;
}

.usa-nav-custom__primary-item {
}

.usa-nav-custom__primary > .usa-nav-custom__primary-item > a:hover {
  color: #064e96
}

.usa-nav-custom__link {
  font-size: .93rem;
  box-sizing: inherit;
  background-color: rgba(0,0,0,0);
  border-bottom: none;
  text-decoration: none;
  line-height: .9;
  padding: 1rem;
  color: #3f3f3f;
  display: block;
  font-weight: 700;
}

.usa-nav-custom__primary a {
  padding-bottom: .5rem;
  padding-top: .5rem
}

.usa-header--basic .usa-nav-custom__primary-item > .usa-current, .usa-header--basic .usa-nav-custom__link:hover {
  position: relative
}

.usa-header--basic .usa-nav-custom__primary-item > .usa-current::after, .usa-header--basic .usa-nav-custom__link:hover::after {
  background-color: #064e96;
  border-radius: 0;
  content: "";
  display: block;
  position: absolute;
  height: .25rem;
  left: 1rem;
  right: 1rem;
  bottom: -0.25rem
}
