#root {
  --toastify-toast-width: calc(80vw);
}

.inline-img-graphics {
  height: 32px;
}

.inline-img-graphics > img {
  display: inline-block;
  border-style: dotted;
  border-color: #5d5d5d;
  border-radius: 2px;

  margin: 0;
  padding: 1px;
}

.previewImgFilename {
  width: 5rem;
}

#uploadMarkdownButtonHidden {
  display:none !important;
}

.developer_div {
  position: fixed;
  bottom: 1rem;
  left: 5px;
  z-index: 100;
}

.cm-searchMatch {
  background-color: rgba(250, 247, 2, 0.27) !important;
}
